* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: typewriter;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
}
.header__logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 100%;
    padding: 0.5rem;
}

h1 {
    width: 70%;
    padding: 2rem;
    font-size: 1.6rem;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 1.8rem;
    text-align: left;
    text-transform: uppercase;
}

main {
    padding: 1rem;
    border-style: solid;
    border-color: #BFBFBF;
    border-width: 2px 0 0 0;
    display: flex;
    justify-content: center;

}

.main__div {
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.8rem;
    text-align: left;

}

.main__div div {
    padding: 0.6rem;
}
.main__titulo{
    height: 1rem;
}

div input {
    background-color: rgb(206, 206, 206);
    height: 2.5rem;
    width: 22rem;
    font-size: 2rem;
    padding: 1rem;
}

#botonMain {
    background-color: rgb(141, 141, 141);
    height: 2.8rem;
    width: 10rem;
    font-size: 1.8rem;
    padding-bottom: 2rem;
    border-radius: 0.3rem;
}

.main__titulo {
    padding: 1rem;
    font-size: 2rem;
    width: 100%;

}

.main__detalles {
    flex-direction: column;
    justify-content: space-evenly;
}

.tabla {
    padding: 2rem;
}

.IngresoSueldo {
    padding: 0.5rem;
}

#sueldo {
    padding: 1rem;
}

div select {
    height: 2.5rem;
    width: 10rem;
    font-size: 2rem;
}

footer {
    padding: 1rem;

}

.footer__button {
    width: 100%;
    display: flex;
    justify-content: center;
}

footer div input {
    background-color: rgb(141, 141, 141);
    height: 3rem;
    width: 10rem;
    font-size: 2rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
    margin: 0.5rem;
}

footer div button {
    background-color: rgb(141, 141, 141);
    height: 3rem;
    width: 10rem;
    font-size: 2rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
    margin: 0.5rem;
}

.footer__aviso {
    width: 100%;
    display: flex;
    justify-content: center;
}

footer h3 {
    padding: 1rem;
    height: 4rem;
    width: 90%;
    font-size: 1.8rem;

}

#buttonDetalle{
    padding: 2rem;
}

.botonDetalle {
    color: black;
    font-size: 1.8rem;
    padding: 1rem;
    background-color: gray;
    border-radius: 0.3rem;    
}

.footer__botones {
    display: flex;
    justify-content: space-around;
}

#botonMeInteresa {
    font-size: 1.5rem;
    
}

footer p {
    width: 100%;
    padding: 2rem;
}